#page h2 {
    margin-top: 4.2rem;
}

.two-row {
    display: flex;
    justify-content: space-around;
    margin: 1.8rem auto;
    padding: 0.5rem 0.7rem;
}

.two-row .image {
    padding: 0.5rem;
}

.two-row .image img {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin: 1rem auto;
}

.two-row .form {
    background: #ffffff;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.7rem;
    border-radius: 8px;
}

.two-row #content {
    background: transparent;
}

.form .text {
    width: 100%;
    text-align: left;
    line-height: 2.5rem;
}

.form h3 {
    margin: 1rem auto;
}

.form .error {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #ea1800;
    color: #ea1800;
    background: #ea18003a;
    padding: 0.5rem 0.7rem;
}

.form .success {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #00a528;
    color: #00a528;
    background: #00a5283f;
    padding: 0.5rem 0.7rem;
}

.form input {
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.9rem auto;
    border-radius: 8px;
    width: 90%;
}

.form textarea {
    width: 90%;
    height: 90px;
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.7rem auto;
    border-radius: 8px;
    font-family: Sans-Serif;
}

.form input:focus {
    border: 1px solid rgb(38, 192, 0);
}

.form .send-btn {
    width: 120px;
    outline: none;
    border: none;
    margin: 0.5rem auto;
    padding: 0.7rem 1rem;
    background: rgb(19, 97, 0);
    color: #ffffff;
    border-radius: 10px;
}

.blogs h4 {
    word-spacing: 4px;
    padding: 0.3rem 0.7rem;
    font-size: 18px;
    color: #044dca;
    text-align: left;
}

.blogs img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.blogs p,
.text-content {
    align-items: left;
    text-align: left;
    justify-content: left;
    line-height: 1.7rem;
}

/* VIew Blogs Styling....*/
.view--blog {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.view--blog img {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
}

.view--blog h3 {
    margin: 0.3rem auto;
}

.view--blog .blog-content {
    width: 60%;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin: 0.3rem auto;
    line-height: 1.8rem;
}

/* Creating Service Layouts */
.service-layouts {
    max-width: 900px;
    margin: 1rem auto;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.service-layouts img {
    width: 40%;
    object-fit: cover;
    text-align: center;
    align-items: center;
    margin: 0.5rem auto;
}

.service-layouts .service-description {
    align-items: left;
    text-align: left;
    font-family: poppin-thin;
    color: #004f13;
    justify-content: left;
    margin: 0.3rem auto;
    line-height: 1.8rem;
}
/* Our Team Page Styling */
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 10px;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-row .card {
    justify-content: center;
    margin: 0.5rem auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7;
}
.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}
.card p {
    color: #464646;
    font-weight: 500;
    font-family: ghs;
    text-align: justify;
    margin: 0.5rem;
    text-transform: capitalize;
    word-spacing: 2px;
    line-height: 1.7rem;
}
.col {
    background: #ffffff;
    box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7;
}
.card a {
    width: 130px;
    outline: none;
    border: none;
    text-decoration: none;
    background: transparent;
    color: #5f5f5f;
    font-weight: 900;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto;
}

.card a img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0 0.2rem;
}
.blogs {
    padding: 0.5rem;
}

.blog-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.blog-img img {
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.content {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 60% 40%; /* 2 columns of equal width */
    gap: 10px; /* add a gap between the columns */
}

.content .left {
    padding: 0.5rem 2.5rem;
}
.left article {
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 0.3rem auto;
    word-spacing: 2.3px;
    line-height: 2.3rem;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #454545;
}
.content .right {
    padding: 0.3rem;
}

.content .right .list {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin: 0;
}
.list a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.list a img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 12px;
}
.list a strong {
    color: #0066f0;
    margin: 0 0.3rem;
    text-align: left;
    justify-content: left;
}
/* Mobile version */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* 1 column that takes up the full width */
    }
    .left,
    .right {
        padding: 0.5rem;
        width: 100%; /* make the left and right divs take up the full width */
    }
    .content .left {
        padding: 0.5rem 0.5rem;
    }
}
