#page h2 {
    margin-top: 4.2rem;
}
.two-row {
    display: flex;
    justify-content: space-around;
    margin: 1.8rem auto;
    padding: 0.5rem 0.7rem;
}

.two-row .image {
    padding: 0.5rem;
}
.two-row .image img {
    width: 100%;
    height: auto;
    object-fit: fill;
}
.two-row .form {
    background: #ffffff;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.7rem;
    border-radius: 8px;
}
.two-row #content {
    background: transparent;
}
.form .text {
    width: 100%;
    text-align: left;
    line-height: 2.5rem;
}
.form h3 {
    margin: 1rem auto;
}
.form .error {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #ea1800;
    color: #ea1800;
    background: #ea18003a;
    padding: 0.5rem 0.7rem;
}
.form .success {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #00a528;
    color: #00a528;
    background: #00a5283f;
    padding: 0.5rem 0.7rem;
}
.form input {
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.9rem auto;
    border-radius: 8px;
    width: 90%;
}
.form textarea {
    width: 90%;
    height: 90px;
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.7rem auto;
    border-radius: 8px;
    font-family: Sans-Serif;
}
.form input:focus {
    border: 1px solid rgb(38, 192, 0);
}
.form .send-btn {
    width: 120px;
    outline: none;
    border: none;
    margin: 0.5rem auto;
    padding: 0.7rem 1rem;
    background: rgb(19, 97, 0);
    color: #ffffff;
    border-radius: 10px;
}
.row .blogs {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.5rem;
    /* align-items: center;
    text-align: center;
    justify-content: center; */
}
.blogs h4 {
    color: #044dca;
}
.blogs img {
    width: 60%;
    height: auto;
    object-fit: cover;
}
.blogs p,
.text-content {
    align-items: left;
    text-align: left;
    justify-content: left;
}
.blogs a {
    outline: none;
    border: none;
    text-decoration: none;
    background: #00318e;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
/* VIew Blogs Styling....*/
.view--blog {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.view--blog img {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
}
.view--blog h3 {
    margin: 0.3rem auto;
}
.view--blog .blog-content {
    width: 60%;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin: 0.3rem auto;
    line-height: 1.8rem;
}
